.homeBody {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: auto;
  justify-content: center;
  align-items: center;

  & .headline {
    display: flex;
    margin: 0px auto 20px auto;
    width: 100%;
  }
  & .articleCards {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;

    @media (max-width: 1000px) {
      grid-template-columns: repeat(3, auto);
    }
    @media (max-width: 800px) {
      grid-template-columns: repeat(2, auto);
    }
    @media (max-width: 550px) {
      grid-template-columns: repeat(1, auto);
    }
  }

 
}