.homeHeader {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  
  & .col_1 {
    display: flex;
    height: 20px;
    align-items: center;
    gap: 10px;
    & p {
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 6px;
    }
  }
}

.chip {
  margin: 20px 10px 0 0;
  padding: 0 10px;
  & svg {
    font-size: 18px;
  }
}

.homeBody {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: auto;
  justify-content: center;
  align-items: center;

  & .headline {
    display: flex;
    margin: 0px auto 20px auto;
  }
  & .articleCards {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;

    @media (max-width: 1000px) {
      grid-template-columns: repeat(3, auto);
    }
    @media (max-width: 800px) {
      grid-template-columns: repeat(2, auto);
    }
    @media (max-width: 550px) {
      grid-template-columns: repeat(1, auto);
    }
  }

 
}